div.task-card
{
  width: 20rem;
  height: 20rem;
  margin: 0.5rem;
}

.task-dropdown-menu
{
  position: absolute;
  right: 0;
  top: 0;
}

a.icon-button
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  color: #343434;
}

div.task-card input.text-name-input
{
  margin-bottom: 0;
}

a.disabled
{
  pointer-events: none;
  background-color: transparent !important;
  color: #b3b2b2 !important;
  cursor: default;
}