.task-queue
{
    position: relative;
    width: 100%;
    padding: 1rem;
    padding-bottom: 5rem;
}

.new-task-button
{
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    transform: translateX( -50% );
}