.project-row
{
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.horizontal .project-row
{
  padding-right: 0;
}

.vertical .project-row
{
  padding-bottom: 0;
}

.project-row-header
{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0.6rem;
}

.project-name
{
  margin: 0;
  font-size: 22pt;
  font-weight: normal;
}

.horizontal .project-tasks,
.horizontal .project-tasks-drop-zone
{
  display: flex;
  flex-direction: row;
  flex: 1;
}

.horizontal .project-tasks
{
  overflow-x: auto;
}

.vertical .project-tasks,
.vertical .project-tasks-drop-zone
{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.vertical .project-tasks
{
  overflow-y: auto;
}