.new-task-button
{
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}

.task-queue
{
  padding: 0.5rem;
  padding-bottom: 5rem;
  display: inline-flex;
  flex-direction: row;
}

.task-queue-container
{
  display: inline-flex;
  flex-direction: row;
}